<div class="profilecontainer">
    
    <section id="home" class="scrolltop">


        <div class="row">
            <div class="col-6">
                <h1>Hey,<br><br>
                    I'm <div id="title">
                        <p>Dileep Reddy,</p>
                        <p>Dileep Reddy</p>
                    </div>
                    <br>
                    <br>
                    I build features for web,
                    <br>
                    <br>
                    <p id="sub-title">I'm a Developer.</p>
                </h1>


                <div class="row">
                    <br>
                </div>
                <div class="row">
                    <!-- <div class="col-4"><button mat-button class="noselect red">Home</button></div>
            <div class="col-4"><button mat-button class="noselect red">About me</button></div> -->
                
                    <div class="col-6">
                        
                        <div class="card card1 tilt" data-tilt data-tilt-max="30" data-tilt-speed="300"
                            data-tilt-perspective="400" data-tilt-glare data-tilt-max-glare="0.4" (click)="toHome()">
                            <span class="Home">Home</span>
                        </div>
                   
                    </div>
                 
                    <div class="col-6">
                        
                        <div class="card card2 tilt" data-tilt data-tilt-max="30" data-tilt-speed="300"
                            data-tilt-perspective="400" data-tilt-glare data-tilt-max-glare="0.4" (click)="toProjects()">
                            <span class="Projects">Projects</span>
                        </div>
                    
                    </div>
                </div>
                <br>
                <div class="row">
                    <!-- <div class="col-4"><button mat-button class="noselect red">Resume</button></div>
            <div class="col-4"><button mat-button class="noselect red">Contact</button></div> -->
                    <div class="col-6">
                        <div class="card card3 tilt" data-tilt data-tilt-max="30" data-tilt-speed="300"
                            data-tilt-perspective="400" data-tilt-glare data-tilt-max-glare="0.4" (click)="toResume()">
                            <span class="Resume">Resume</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card card4 tilt" data-tilt data-tilt-max="30" data-tilt-speed="300"
                            data-tilt-perspective="400" data-tilt-glare data-tilt-max-glare="0.4" (click)="toContact()">
                            <span class="Contact">Contact</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="container">
                    <div class="card tilt" data-tilt data-tilt-max="40" data-tilt-speed="300" data-tilt-perspective="500">
                        <div class="content">
                            <div class="card">
                                <h2>
                                    <mat-icon>sentiment_very_satisfied</mat-icon>
                                </h2>
                                <h4>Happy Learning!</h4>
                                <p>card sample card sample card sample card sample</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    
    
    <section id="projects" class="scrolltop">

        <div class="card card2" data-tilt data-tilt-max="30" data-tilt-speed="300"
                            data-tilt-perspective="400" data-tilt-glare data-tilt-max-glare="0.4">
                            <span class="Projects">Projects</span>
                        </div>
    </section>

    <section id="resume" class="scrolltop">
        <div class="card card3" data-tilt data-tilt-max="30" data-tilt-speed="300"
                            data-tilt-perspective="400" data-tilt-glare data-tilt-max-glare="0.4">
                            <span class="Resume">Resume</span>
                        </div>
    </section>
    <section id="contact" class="scrolltop">
        <div class="card card4" data-tilt data-tilt-max="30" data-tilt-speed="300"
                            data-tilt-perspective="400" data-tilt-glare data-tilt-max-glare="0.4">
                            <span class="Contact">Contact</span>
                        </div>
    </section>
</div>