h1 {
  font-size: 3vw;
  position: relative;
  color:#500472;
}
.linebreak {
  display: inline-block;
}

// .text{
//     display:flex;
//     justify-content: start;
// }
// h1::before,
// h1::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
// }

// h1::before {
//   background: #79cbb8;
//   animation: typewriter 6s #500472 steps(63) 1s forwards;
// }

// h1::after {
//   background: black;
//   animation: typewriter 6s #79cbb8 steps(63) 1s forwards;
// }
// @keyframes typewriter {
//   to {
//     left: 100%;
//   }
// }

#title {
  // position:relative;
  margin-left: 6.5vw;
  margin-top: -4.5vh;
}
#title p {
  position: absolute;
  white-space: nowrap;
  color: #79cbb8;
  transform: translate(-10%, -10%);
}
#title p:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 4px #500472;
}
#title p:nth-child(2) {
  color: #79cbb8;
  -webkit-text-stroke: 1px #500472;
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

// button{
//     background: #79cbb8;
//     width:15vw;
//     height:10vh;
//     border: 4px solid #500472 !important;
//     font-size:2vw;
//     border-radius:10px;
//     position:relative;
//     padding:0;
//     outline:none;
// }

// 
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

button {
	width: 150px;
	height: 50px;
	cursor: pointer;
	background: #333;
	margin: 10px;
	border: none;
	border-radius: 10px;
	box-shadow: -2px -2px 7px #444, 2px 2px 7px #79cbb8, inset 2px 2px 5px #444, inset -2px -2px 5px #222;
	color: #79cbb8;
	font-size: 16px;
}

button:hover {
	box-shadow: -2px -2px 7px #444, 2px 2px 7px #222, inset 2px 2px 5px #222, inset -2px -2px 5px #444;
	font-size: 15px;
	transition: 500ms;
}

button:focus {
	outline: none;
}

.red:hover {
	color: #79cbb8;
	text-shadow: 0px 0px 10px #93f071;
}

.green:hover {
		color: #93f071;
	text-shadow: 0px 0px 10px #93f071;
}

.container{
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
  z-index:1;
}
.container .card{
  margin-top: 5vh;
  width: 28vw;
  height: 70vh;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius:15px;
  background: rgba(255,255,255,0.1);
  overflow:hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.container .card .content{
  padding:20px;
  text-align:center;
  transition:0.5s;
  // transform: translateY(100px);
  // opacity:0;
}
.container .card:hover .content{
  // transform: translateY(0px);
  // opacity:1;
}
.container .card .content h2{
  position: absolute;
  top:40px;
  right:30px;
  font-size: 8em;
  color: rgba(255,255,255,0.05);
  pointer-events: none;

}
.container .card .content h3{
  font-size: 3em;
  color:#fff;
  font-weight: 300;
}

