<div class="row">
    <div class="col-6">
        <h1>Hey,<br><br>
            I'm <div id="title">
                <p>Dileep Reddy,</p>
                <p>Dileep Reddy</p>
            </div>
            <br>
            <br>
            I build features for web.
            <br>
            <br>
            I'm a Developer
        </h1>


        <div class="row">
            <br>

        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-4"><button mat-button class="noselect red">Home</button></div>
            <div class="col-4"><button mat-button class="noselect red">About me</button></div>

        </div>
        <br>
        <div class="row">
            <div class="col-4"><button mat-button class="noselect red">Resume</button></div>
            <div class="col-4"><button mat-button class="noselect red">Contact</button></div>

        </div>
    </div>
    <div class="col-6">
        <div class="container">
            <div class="card" #card data-tilt data-tilt-max="50" data-tilt-speed="400" data-tilt-perspective="500" data-tilt-glare data-tilt-max-glare="0.8">
                <div class="content">
                    <h2>01</h2>
                    <h3>card sample</h3>
                    <p>card sample card sample card sample card sample</p>
                </div>
            </div>
        </div>
    </div>
    
</div>