/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;

// @media only screen and (max-width: $mobile-small) { 

//   .magentaAndRedOrange {
//     display:none;
//   }
// }

.magentaAndRedOrange {
  background-color: #500472;
  color: #79cbb8;
}

.magentaAndRedOrangeIcon {
  color: #79cbb8;
}

.magentaAndRedOrangeTitle {
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 32px;
  margin-right: 3px;
  color: #79cbb8;
}

.magentaAndRedOrangeheader {
  background-color: #79cbb8;
  color: #500472;
  width: 100%;
}

.magentaAndRedOrangecontent {
  margin-top: 11vh;
  padding: 25px;
  background-color: #79cbb8;
  width: auto;
  height: 500%;
}

.magentaAndRedOrange-button {
  background-color: #500472;
  color: #79cbb8;
}

.magentaAndRedOrangeSearch {
  background-color: #fff;
}

.magentaAndRedOrangeMenuItem {
  background-color: #79cbb8;
  color: #500472;
  overflow-x: hidden !important;
}

.magentaAndRedOrangelikeButton {
  background-color: #500472;
  color: #79cbb8;
  border: 0px;
  width: 30%;
  line-height: 25px;
  display: flex;
  justify-content: flex-start;
  height: 25px;
  margin-top: 2px;
}

.magentaAndRedOrangeshareButton {
  color: #500472;
  border: 0px;
  margin-left: 5px;
  //display: flex;
//justify-content: flex-end;
}

.indigoPink {
  background-color: #3f51b5;
  color: #fff;
}

.indigoPinkTitle {
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 32px;
  margin-right: 5px;
  background-color: #3f51b5;
  color: #fff;
}

.indigoPinkheader {
  background-color: #fff;
  color: #3f51b5;
  width: 100%;
}

.indigoPinkcontent {
  margin-top: 11vh;
  padding: 25px;
  background-color: #fff;
  width: auto;
  height: 500%;
}

.indigoPink-button {
  background-color: #3f51b5;
  color: #fff;
}

.indigoPinkSearch {
  background-color: #add8e6;
}

.indigoPinkMenuItem {
  background-color: #fff;
  color: #3f51b5;
  overflow-x: hidden !important;
}

.indigoPinklikeButton {
  background-color: #3f51b5;
  color: #fff;
  border: 0px;
  width: 30%;
  line-height: 25px;
  display: flex;
  justify-content: flex-start;
  height: 25px;
  margin-top: 2px;
}

.indigoPinkshareButton {
  color: #3f51b5;
  border: 0px;
  margin-left: 5px;
  //display: flex;
//justify-content: flex-end;
}

.pinkBluegrey {
  background-color: #05386b;
  color: #5cdb95;
}

.pinkBluegreyIcon {
  color: #5cdb95;
}

.pinkBluegreyTitle {
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 32px;
  margin-right: 3px;
  color: #5cdb95;
}

.pinkBluegreyheader {
  background-color: #5cdb95;
  color: #05386b;
  width: 100%;
}

.pinkBluegreycontent {
  margin-top: 11vh;
  padding: 25px;
  background-color: #5cdb95;
  width: auto;
  height: 500%;
}

.pinkBluegrey-button {
  background-color: #05386b;
  color: #5cdb95;
}

.pinkBluegreySearch {
  background-color: #379683;
}

.pinkBluegreyMenuItem {
  background-color: #5cdb95;
  color: #05386b;
  overflow-x: hidden !important;
}

.pinkBluegreylikeButton {
  background-color: #05386b;
  color: #5cdb95;
  border: 0px;
  width: 30%;
  line-height: 25px;
  display: flex;
  justify-content: flex-start;
  height: 25px;
  margin-top: 2px;
}

.pinkBluegreyshareButton {
  color: #05386b;
  border: 0px;
  margin-left: 5px;
  //display: flex;
//justify-content: flex-end;
}

.RedAndLively {
  background-color: #5d001e;
  color: #e3e2df;
}

.RedAndLivelyIcon {
  color: #e3e2df;
}

.RedAndLivelyTitle {
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 32px;
  margin-right: 3px;
  color: #e3e2df;
}

.RedAndLivelyheader {
  background-color: #e3e2df;
  color: #5d001e;
  width: 100%;
}

.RedAndLivelycontent {
  margin-top: 11vh;
  padding: 25px;
  background-color: #e3e2df;
  width: auto;
  height: 500%;
}

.RedAndLively-button {
  background-color: #5d001e;
  color: #e3e2df;
}

.RedAndLivelySearch {
  background-color: #ee4c7c;
}

.RedAndLivelyMenuItem {
  background-color: #e3e2df;
  color: #5d001e;
  overflow-x: hidden !important;
}

.RedAndLivelylikeButton {
  background-color: #5d001e;
  color: #e3e2df;
  border: 0px;
  width: 30%;
  line-height: 25px;
  display: flex;
  justify-content: flex-start;
  height: 25px;
  margin-top: 2px;
}

.RedAndLivelyshareButton {
  color: #5d001e;
  border: 0px;
  margin-left: 5px;
  //display: flex;
//justify-content: flex-end;
}
