/* You can add global styles to this file, and also import other style files */

html,
header{
  
}
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;

// @media only screen and (max-width: $mobile-small) {

//   .magentaAndRedOrange {
//     display:none;
//   }
// }

.magentaAndRedOrange {
  background-color: #500472 !important;
  color: #79cbb8 !important;
}

.magentaAndRedOrangeIcon {
  color: #79cbb8;
}

.magentaAndRedOrangeTitle {
  color: #79cbb8;
}

.magentaAndRedOrangeheader {
  background-color: #79cbb8;
  color: #500472;
}

// @media (max-width: 599px)
// {
// .mat-toolbar-row, .mat-toolbar-single-row {
//     height: 56px;
// }
// }

.magentaAndRedOrangecontent {
  background-color: #79cbb8;
}

.magentaAndRedOrange-button {
  background-color: #500472;
  color: #79cbb8;
}

.magentaAndRedOrangeSearch {
  background-color: #fff;
}

.magentaAndRedOrangeMenuItem {
  background-color: #79cbb8;
  color: #500472;
  overflow-x: hidden !important;
}

.magentaAndRedOrangelikeButton {
  background-color: #500472;
  color: #79cbb8;
}

.magentaAndRedOrangeshareButton {
  color: #500472;
}

.magentaAndRedOrangecardBtn {
  background-color: #79cbb8 !important;
  color: #500472 !important;
  border: 1px solid #79cbb8 !important;
}

.indigoPink {
  background-color: #3f51b5 !important;
  color: #fff !important;
}

.indigoPinkTitle {
  background-color: #3f51b5;
  color: #fff;
}

.indigoPinkheader {
  background-color: #fff;
  color: #3f51b5;
}

.indigoPinkcontent {
  background-color: #fff;
}

.indigoPink-button {
  background-color: #3f51b5;
  color: #fff;
}

.indigoPinkSearch {
  background-color: #add8e6;
}

.indigoPinkMenuItem {
  background-color: #fff;
  color: #3f51b5;
  overflow-x: hidden !important;
}

.indigoPinklikeButton {
  background-color: #3f51b5;
  color: #fff;
}

.indigoPinkshareButton {
  color: #3f51b5;
}

.indigoPinkcardBtn {
  background-color: #fff !important;
  color: #3f51b5 !important;
  border: 1px solid #fff !important;
}

.pinkBluegrey {
  background-color: #05386b !important;
  color: #5cdb95 !important;
}

.pinkBluegreyIcon {
  color: #5cdb95;
}

.pinkBluegreyTitle {
  color: #5cdb95;
}

.pinkBluegreyheader {
  background-color: #5cdb95;
  color: #05386b;
}

.pinkBluegreycontent {
  background-color: #5cdb95;
}

.pinkBluegrey-button {
  background-color: #05386b;
  color: #5cdb95;
}

.pinkBluegreySearch {
  background-color: #379683;
}

.pinkBluegreyMenuItem {
  background-color: #5cdb95;
  color: #05386b;
  overflow-x: hidden !important;
}

.pinkBluegreylikeButton {
  background-color: #05386b;
  color: #5cdb95;
}

.pinkBluegreyshareButton {
  color: #05386b;
}

.pinkBluegreycardBtn {
  background-color: #5cdb95 !important;
  color: #05386b !important;
  border: 1px solid #5cdb95 !important;
}

.RedAndLively {
  background-color: #5d001e !important;
  color: #e3e2df !important;
}

.RedAndLivelyIcon {
  color: #e3e2df;
}

.RedAndLivelyTitle {
  color: #e3e2df;
}

.RedAndLivelyheader {
  background-color: #e3e2df;
  color: #5d001e;
}

.RedAndLivelycontent {
  background-color: #e3e2df;
}

.RedAndLively-button {
  background-color: #5d001e;
  color: #e3e2df;
}

.RedAndLivelySearch {
  background-color: #ee4c7c;
}

.RedAndLivelyMenuItem {
  background-color: #e3e2df;
  color: #5d001e;
  overflow-x: hidden !important;
}

.RedAndLivelylikeButton {
  background-color: #5d001e;
  color: #e3e2df;
}

.RedAndLivelyshareButton {
  color: #5d001e;
}

.RedAndLivelycardBtn {
  background-color: #e3e2df !important;
  color: #5d001e !important;
  border: 1px solid #e3e2df !important;
}

.OrangeAndCream {
  background-color: #ee4935 !important;
  color: #ffffff !important;
}

.OrangeAndCreamIcon {
  color: #ffffff;
}

.OrangeAndCreamTitle {
  color: #ffffff;
  position: relative;
}

.OrangeAndCreamheader {
  background-color: #ece9e2;
  color: #ee4935;
}

.OrangeAndCreamcontent {
  background-color: #ece9e2;
}

.OrangeAndCream-button {
  background-color: #ee4935;
  color: #ffffff;
}

.OrangeAndCreamSearch {
  background-color: #ffffff;
}

.OrangeAndCreamMenuItem {
  background-color: #ece9e2;
  color: #ee4935;
  overflow-x: hidden !important;
}

.OrangeAndCreamlikeButton {
  background-color: #ee4935;
  color: #ffffff;
}

.OrangeAndCreamshareButton {
  color: #ee4935;
}

.OrangeAndCreamcardBtn {
  background-color: #ece9e2 !important;
  color: #ee4935 !important;
  border: 1px solid #ece9e2 !important;
}
