 
  :root {
    --dark-background1: #202325;
    --dark-cell-background2: #202427;
    --dark-background3: #1a1b1d;
    --dark-background4: #1c2023;
    --dark-font1: #cfb198;
    --dark-font2: #dcc7b4;
    --dark-font3: #dfc2ab;
    --dark-font4: #bda998;
    --dark-font5: #d9a57c;
    --light-font1: #80766e;
    --light-font2: #837c72;
    --card-background1: #4c9883;
    --card-background2:#e3af63;
    --card-background3: #4f4e4c;
    --card-background4: #d5a75a;
    --card-background5: #f6ff8a;
    --card-background6: #ebf8de;
    --card-background7:#eacbd1;
    --card-background8:#cc95bd;
    --text-background1: #d7dcea;
    --text-background2: #e3c2a6;
    --text-transparent-background: #86878b;
    --button-background1: #385ea7;
    --button-background2:#1b1c1e;
    
  
    --fw-normal: 400;
    --fw-bold: 700;
  
    --clr: #b7c9e5;
  }

  .back {
    height: 100vh;
    width: 100vw;
    display: inline-flex;
    flex-direction: row;
    background: #4a678e;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .back .text {
    width: 100%;
    margin: 0 1em;
    color: #4a678e;
    text-shadow: 5px 5px 10px #394f6c, -5px -5px 10px #5f80ac;
    font-size: 9vw;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
  }
  .back .card {
    cursor: pointer;
    margin: 15px;
    display: flex;
    background: #4a678e;
    height: 10vw;
    width: 10vw;
    box-shadow: -8px -8px calc(8px * 2) 0 rgba(95, 128, 172, 0.43), 8px 8px calc(8px * 2) 0 rgba(22, 30, 41, 0.41);
    border-radius: 25px;
  }
  .back .card:active {
    box-shadow: inset -8px -8px calc(8px * 2) 0 rgba(95, 128, 172, 0.43), inset 8px 8px calc(8px * 2) 0 rgba(22, 30, 41, 0.41);
  }
  .back .card:first-child {
    border-radius: 50%;
  }
  .back .card:nth-child(2) {
    border-radius: 5px;
  }
  .back .card:nth-child(3) {
    box-shadow: -5px -5px calc(5px * 2) 0 rgba(95, 128, 172, 0.43), 5px 5px calc(5px * 2) 0 rgba(22, 30, 41, 0.41);
    background: linear-gradient(145deg, #53739f, #415b7d);
  }
  .back .card:nth-child(3):active {
    box-shadow: inset -5px -5px calc(5px * 2) 0 rgba(95, 128, 172, 0.43), inset 5px 5px calc(5px * 2) 0 rgba(22, 30, 41, 0.41);
    background: linear-gradient(145deg, #415b7d, #53739f);
  }
  .back .card:nth-child(5) {
    box-shadow: -5px -5px calc(5px * 2) 0 rgba(95, 128, 172, 0.43), 5px 5px calc(5px * 2) 0 rgba(22, 30, 41, 0.41);
    background: linear-gradient(145deg, #415b7d, #53739f);
  }
  .back .card:nth-child(5):active {
    box-shadow: inset -5px -5px calc(5px * 2) 0 rgba(95, 128, 172, 0.43), inset 5px 5px calc(5px * 2) 0 rgba(22, 30, 41, 0.41);
    background: linear-gradient(145deg, #53739f, #415b7d);
  }

  input,
button {
  background-color: transparent;
  border: none;
  outline: none;
}

i {
  color: #b6bbc5;
}

.container-center {
   display: flex;
   align-items: center;
   justify-content: center;
}

.content {
   width: 60rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content:not(:first-child) {
  margin-top: 8rem;
}

.box-icon {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  box-shadow: 
    1rem 1rem 2rem rgba(0, 0, 0, .1),
    -1rem -1rem 2rem rgba(255, 255, 255, .5);
}
        
.box-icon:hover {
  box-shadow: 
    inset 1rem 1rem 2rem rgba(0, 0, 0, .1),
    inset -1rem -1rem 2rem rgba(255, 255, 255, .5);
}
        
.box-icon:active {
  box-shadow: none;
}

.box-icon > i {
  font-size: 3.6rem;
}

.search {
  width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  display: flex;
  box-shadow: 
    1rem 1rem 2rem rgba(0, 0, 0, .1),
    -1rem -1rem 2rem rgba(255, 255, 255, .5);
}

.search__input {
  flex-grow: 1;
  height: 4rem;
  font-size: 2.4rem;
  color: #b6bbc5;
  letter-spacing: 0.2rem;
}

.search__input::-webkit-input-placeholder {
  color: #b6bbc5;
  letter-spacing: 0.2rem;
}

.search__btn {
  height: 4rem;
  width: 4rem;
  margin-left: 1.5rem;
}

.search__btn > i {
  font-size: 2.6rem;
}

.buttoncontent{
  padding: 8rem 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dae1eb;
}