.credColorPalete-nav-link {
    color: #ffffff;
  
    &.credColorPalete-active-link {
      background-color: #ece9e2;
      color: #d9a57c;
    }
  }
  
  :root {
    --dark-background1: #202325;
    --dark-cell-background2: #202427;
    --dark-background3: #1a1b1d;
    --dark-background4: #1c2023;
    --dark-font1: #cfb198;
    --dark-font2: #dcc7b4;
    --dark-font3: #dfc2ab;
    --dark-font4: #bda998;
    --dark-font5: #d9a57c;
    --light-font1: #80766e;
    --light-font2: #837c72;
    --card-background1: #4c9883;
    --card-background2:#e3af63;
    --card-background3: #4f4e4c;
    --card-background4: #d5a75a;
    --card-background5: #f6ff8a;
    --card-background6: #ebf8de;
    --card-background7:#eacbd1;
    --card-background8:#cc95bd;
    --text-background1: #d7dcea;
    --text-background2: #e3c2a6;
    --text-transparent-background: #86878b;
    --button-background1: #385ea7;
    --button-background2:#1b1c1e;
    
  
    --fw-normal: 400;
    --fw-bold: 700;
  
    --clr: #b7c9e5;
  }