<div class="dashboard-content">
    <div class="back">
        <a target="_blank" href="https://codepen.io/alejandrochvs/details/qBdZbyg" class="text">
            NEUMORPHISM
        </a>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"> </div>
        <div class="card"></div>
    </div>
    <br>
    <br>
    <div class="buttoncontent">
        <div class="content">
            <form class="search">
                <input class="search__input" placeholder="Search" type="text" name="" id="">
                <button class="search__btn container-center" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <div class="content">
            <div class="box-icon container-center">
                <i class="fab fa-facebook-f"></i>
            </div>
            <div class="box-icon container-center">
                <i class="fab fa-twitter"></i>
            </div>
            <div class="box-icon container-center">
                <i class="fab fa-instagram"></i>
            </div>
            <div class="box-icon container-center">
                <i class="fab fa-linkedin-in"></i>
            </div>
        </div>
    </div>

    <app-work-in-progress></app-work-in-progress>
</div>