.content-loading {
  width: 100%;
  height: 100vh;
  background-color: #202427;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  
  position: relative;
  color: #202427;
  -webkit-text-stroke: 0.1vw #dae1eb;
  text-transform: uppercase;
  line-height:18vh;
}
h1::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  color: #dae1eb;
  -webkit-text-stroke: 0vw #dae1eb;
  border-right: 4px solid #dae1eb;
  overflow: hidden;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
