.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
.example-full-width {
  margin-right: 15px;
  height: 30px;
  border-radius: 20px;
  border: 2px;
}
.Spacing{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
