<mat-toolbar [ngClass]="header?header:''">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>{{pageName}}</span>
        <span class="example-spacer"></span>

        <div class="Spacing">
            
            <div class="input-icons">
                <form class="search">
                    <input class="search__input" placeholder="Search" type="text" name="" id="">
                    <button class="search__btn container-center" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
       
            <mat-icon>email</mat-icon>
            <mat-icon class="example-icon" aria-hidden="false" (click)="showPreferencesPopup()"
                aria-label="Example notifications icon">settings
            </mat-icon>
            <button mat-raised-button [ngClass]="accountButton?accountButton+' account-button':''" [matMenuTriggerFor]="menu">
                <mat-icon>account_box</mat-icon>&nbsp;Dileep Reddy
            </button>
            <mat-menu #menu="matMenu" [class]="menuItem">
                <button mat-menu-item [class]="menuItem" routerLink="">
                    <mat-icon>account_circle</mat-icon>&nbsp;Profile
                </button>
                <button mat-menu-item [class]="menuItem">
                    <mat-icon>logout</mat-icon>&nbsp;Logout
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider [class]="divider"></mat-divider>