<mat-toolbar class="header mat-elevation-z4">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Dashboard</span>
        <span class="example-spacer"></span>

        <div class="Spacing">
            <div class="input-icons">
                <input type="search" class="example-full-width" [formControl]="searchFormControl" placeholder="search">
                <a href=""><i class="fa fa-search icon search-color"></i></a>
            </div>
            <mat-icon>email</mat-icon>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example notifications icon">notifications
            </mat-icon>
            <button mat-raised-button class="account-button" [matMenuTriggerFor]="menu">
                <mat-icon>account_box</mat-icon>&nbsp;Dileep Reddy
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>account_circle</mat-icon>&nbsp;Profile
                </button>
                <button mat-menu-item>
                    <mat-icon>logout</mat-icon>&nbsp;Logout
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider class="divider"></mat-divider>