.card {
  // max-width:container;
  //background: linear-gradient(to right, #500472 50% , white 50%);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
}

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  
  --fw-normal: 400;
  --fw-bold: 700;
  
  --clr: #b7c9e5;
}

.card-title {
  padding: 0.3rem;
  // transform:translateZ(9rem) perspective(200px);
  // margin-bottom: 0;
  
}

.card-body {
  // min-height: 200px;
  position: absolute;
  flex: 1 1 auto;
  padding: 0 1rem;
  
}

.card-footer {
  text-align: right;
}
