<div class="container">

    <div class="row g-0">

        <div class="col-md-6 leftContent">
            <div class="card w-100 leftContent">
                <div class="card-title">
                    <h1>Featured</h1>
                </div>
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col-md-6 rightContent">
            <div class="card w-100 rightContent">
                <!-- <div class="card-header">
                    Featured
                </div> -->
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
    </div>
</div>
 <app-work-in-progress></app-work-in-progress>