.button-position{
    float:right;
}
.radio-group{
    display:flex;
    flex-direction:column;
    margin: 15px 0;
    justify-content: space-between;
    padding-bottom:10px;
}
.label{
    margin-top:10px;
}
.mat-dialog-content.form-field{
    display:flex;
    flex-direction:column;
}