<mat-sidenav-container class="example-container" fullscreen>

  <mat-sidenav id="sidenav" mode="side"  [class]="sideNavColor" [class.menu-open]="sideBarOpen" [class.menu-close]="!sideBarOpen" opened>
    
      <app-sidenav-header></app-sidenav-header>
      <app-sidenav-content></app-sidenav-content>
    
  </mat-sidenav>

  <mat-sidenav-content  [ngStyle]="{ 'margin-left.vw': contentMargin }">
    <div class="header">
      <app-header (toggleSideBarForMe)="sideBarToggler($event)"></app-header>
    </div>
    <div  [ngClass]="content?content+' contentCss':''">
      <router-outlet>
      </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>