.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav,
mat-sidenav.mat-locked-open,
mat-sidenav.mat-closed.mat-locked-open-add-active {
  min-width: 16% !important;
  width: 17vw !important;
  max-width: 40% !important;
}

.sidenav-color {
  background-color: #500472;
}

.header {
  position: fixed;

  top: 0;
  z-index: 1;
  overflow: hidden;
  left: 0;
  right: 0;
}

.content {
  margin-top: 11vh;
  padding: 25px;
  background-color: #79cbb8;
  width: auto;
  height: 250%;
}

.content-width {
  width: auto;
  position: absolute;
}

.full-content-width {
  width: auto;
}