<div class="card-title">
    <h2>{{content.mainTitle}}</h2>
</div>
<mat-divider class="divider"></mat-divider>
<div class="card-body scroll">
    <div *ngFor="let languagecontent of content.subtitlecontent">
        <h3 class="title">{{languagecontent.subtitle}}</h3>
        <ul>
            <li *ngFor="let languagecontentdesc of languagecontent.maincontent">
                <p class="card-text">{{languagecontentdesc.subcontent}}</p>
            </li>
            <br>
        </ul>
    </div>
</div>