<div class="card-title">
    <h2>Streams</h2>
</div>
<mat-divider class="divider"></mat-divider>
<div class="card-body scroll">

    <h3 class="title">Definition : </h3>
    <ul>
        <li>
            <p class="card-text">Java provides a new additional package in Java 8 called java.util.stream.
                This package consists of classes, interfaces and enum to allow functional-style operations on the
                elements.</p>
        </li>
        <br>
        <li>
            <p class="card-text">Stream API is used to process collections of objects. A stream is a sequence of objects
                that supports various
                methods which can be pipelined to produce the desired result.</p>
        </li>

    </ul>
    <h3 class="title">Features : </h3>
    <ul>
        <li>
            <p class="card-text">Stream is functional in nature. Operations performed on a stream does not modify it's
                source. For example,
                filtering a Stream obtained from
                a collection produces a new Stream without the filtered elements, rather than removing elements from the
                source collection.</p>
        </li>
        <br>
        <li>
            <p class="card-text">Stream does not store elements.
                It simply conveys elements from a source such as a data structure, an array, or an I/O channel,
                through a pipeline of computational operations.</p>
        </li>

    </ul>
</div>