<mat-icon [class]="accountIcon">account_circle</mat-icon>
<mat-nav-list>
    <span *ngFor="let item of menu">
      <span *ngIf="!item.children || item.children.length === 0">
        <mat-list-item [class]="themeNavLink" [routerLink]="item.route" [routerLinkActive]="themeActiveLink" [routerLinkActiveOptions]="{exact:
          true}">
          <!-- Entradas principales -->
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-icon mat-list-icon>{{item.iconName}}</mat-icon>
            <span class="displayname">{{item.displayName}}</span>
          </div>
        </mat-list-item>
      </span>
    </span>
  </mat-nav-list>
