.displayname {
  padding-left: 5px;
}
/*.mat-expansion-panel{
    background-color:#500472;
    color:#79cbb8;
}*/
::ng-deep .mat-expansion-panel-header > .mat-expansion-indicator::after {
  color: #79cbb8;
}
.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 17px;
  border-radius: inherit;
  transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  margin-left: 40px;
  padding: 10px;
  font-size: 100px;
  /*color: #79cbb8;*/
}

/*.nav-link {
  color: #79cbb8;

  &.active-link {
    background-color: #79cbb8;
    color:#500472;
  }
}*/
.magentaAndRedOrange-nav-link {
  color: #79cbb8;

  &.magentaAndRedOrange-active-link {
    background-color: #79cbb8;
    color: #500472;
  }
}

.indigoPink-nav-link {
  color: #fff;

  &.indigoPink-active-link {
    background-color: #fff;
    color: #3f51b5;
  }
}

.pinkBluegrey-nav-link {
  color: #5cdb95;

  &.pinkBluegrey-active-link {
    background-color: #5cdb95;
    color: #05386b;
  }
}

.RedAndLively-nav-link {
  color: #e3e2df;

  &.RedAndLively-active-link {
    background-color: #e3e2df;
    color: #5d001e;
  }
}
