.divider {
    background-color: #79cbb8;
    height: 2px;
    margin-bottom: 1rem;
  }
  .card-body {
    // min-height: 200px;
    position: absolute;
    flex: 1 1 auto;
    padding: 0 1rem;
  }
  .card-title {
    padding: 0.3rem;
    // transform:translateZ(9rem) perspective(200px);
    // margin-bottom: 0;
    margin-bottom: 0;
  }
  .title{
      font-weight: 500;
      margin-bottom: 0;
  }
  .card-text{
  font-size:14px;
  display:flex;
  justify-content: center;
  word-wrap: break-word;
  }
  .scroll{
    max-height: 55vh;
    overflow-y: auto;
  }
//   ::-webkit-scrollbar { 
//     display: none;  /* Safari and Chrome */
// }
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ece9e2; 
}