<div class="card-title">
    <h2>Streams(Additional Info)</h2>
</div>
<mat-divider class="divider"></mat-divider>
<div class="card-body scroll">
    <h3 class="title">Methods : </h3>
    <ul>
        <li>
            <h4 class="title">map:</h4><p class="card-text">The map method is used to returns a stream consisting of the results of applying the given function to the elements of this stream.
                List number = Arrays.asList(2,3,4,5);
                List square = number.stream().map(x->x*x).collect(Collectors.toList())</p>
        </li>
        <li>
            <h4 class="title">filter:</h4><p class="card-text">The filter method is used to select elements as per the Predicate passed as argument.
                List names = Arrays.asList("Reflection","Collection","Stream");
                List result = names.stream().filter(s->s.startsWith("S")).collect(Collectors.toList())</p>
        </li>
        <li>
            <h4 class="title">sorted:</h4><p class="card-text">The sorted method is used to sort the stream.
                List names = Arrays.asList("Reflection","Collection","Stream");
                List result = names.stream().sorted().collect(Collectors.toList())</p>
        </li>
        <li>
            <h4 class="title">collect:</h4><p class="card-text">The collect method is used to return the result of the intermediate operations performed on the stream.
                List number = Arrays.asList(2,3,4,5,3);
                Set square = number.stream().map(x->x*x).collect(Collectors.toSet())</p>
        </li>
        <li>
            <h4 class="title">forEach:</h4><p class="card-text">The forEach method is used to iterate through every element of the stream.
                List number = Arrays.asList(2,3,4,5);
                number.stream().map(x->x*x).forEach(y->System.out.println(y))</p>
        </li>
        <li>
            <h4 class="title">reduce:</h4><p class="card-text">The reduce method is used to reduce the elements of a stream to a single value.
                The reduce method takes a BinaryOperator as a parameter.
                List number = Arrays.asList(2,3,4,5);
                int even = number.stream().filter(x->x%2==0).reduce(0,(ans,i)-> ans+i)</p>
        </li>

    </ul>
</div>
