<div class="card-title">
    <h2>{{content.backcontent.mainTitle}}</h2>
</div>
<mat-divider class="divider"></mat-divider>
<div class="card-body scroll">
    <div *ngFor=" let subcontent of content.backcontent.subtitlecontent">
        <h3 class="title">{{subcontent.subtitle}}</h3>
        <ul>
            <div *ngFor=" let subtitlecontent of subcontent.submaincontent">
            <li>
                <h4 class="title">{{subtitlecontent.subcontenttitle}}</h4>
                <p class="card-text">{{subtitlecontent.subcontent}}</p>
            </li>
        </div>
        <div *ngFor=" let data of subcontent.maincontent">
            <li>
                <p class="card-text">{{data.subcontent}}</p>
            </li>
        </div>
        </ul>
    </div>
</div>